body {
    background: linear-gradient(to left, #5ae0e9,#62e0c1,#76e19d );
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
}

#bd {
    background: linear-gradient(to left, #5ae0e9,#62e0c1,#76e19d );
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
    overflow:visible;

}

#App {
    background: linear-gradient(to left, #5ae0e9,#62e0c1,#76e19d );
    overflow: visible;
}

.Navi {
    top: 100%;
    display: inline;
    padding: 2px;
    border: 1px solid black;
    z-index: 3;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

#NavBack {
    border: 2px solid black;
    background: linear-gradient(to left, #5ae0e9,#62e0c1,#76e19d );
    top:100px;
    height:100%;
    width:100%;
   
}

#shadowNav {
    
}

    .Navi:hover 
    {
        color:lightslategrey;
        cursor:grabbing;
    }
.top-row px-4 
{
    z-index:-1;


}
.nv 
{
    border:5px solid black;
    left:0;


}

#Pdata {
    top: 50vh;
    background: linear-gradient(to right,#808080,#271b75);
    -webkit-background-clip: text;
    -webkit-text-fill-color:dimgrey;
    width: 100%;
}

