@page
@model Blazor1.Pages.SuggestionsModel
@{
}

<body>
	<h1>Suggestion Page</h1>
	
<fieldset>


 <table class="table">
        <thead>
            <tr>
                <th>User </th>
                <th>Room.</th>
                <th>Temp.</th>
                <th>Suggestion</th>
            </tr>
        </thead>
        <tbody>
          <tr>
	         <td>Juan Ludick</td>
	         <td> Livingroom</td>
	         <td>Open a window</td>
         </tr>

           
        </tbody>
        
    </table>


</fieldset>

	
</body>
